name: Auto Merge Pull Requests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Enable auto-merge for pull request
        uses: alexwilson/enable-github-automerge-action@2.0.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
